%p
  %strong Date:
  = @conversation.date

%p
  %strong Participants:
  = @conversation.contacts.map(&:name).join(", ")

%p
  %strong Notes:
  = @conversation.notes

= link_to 'Edit', edit_conversation_path(@conversation)
|
= link_to 'Back', conversations_path
