%p
  %strong Date:
  = @conversation.date

%p
  %strong Participants:
  %table
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @conversation.participants.each do |participant|
        %tr
          %td= participant.name
          %td= link_to 'Show', participant
          %td= link_to 'Edit', edit_participant_path(participant)
          %td= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' }

  %br/

  = link_to 'New Participant', new_conversation_participant_path(@conversation)

%p
  %strong Notes:
  = @conversation.notes

= link_to 'Edit', edit_conversation_path(@conversation)
|
= link_to 'Back', conversations_path
