%h1= link_to @contact.name, @contact

.pull-right= link_to 'Edit Contact', edit_contact_path(@contact), class: 'btn btn-default'

%table.table.table-hover
  %thead
    %tr
      %th Conversations
      %th
      %th
      %th

  %tbody
    - @contact.conversations.each do |conversation|
      %tr
        %td.date= conversation.date
        %td= truncate(conversation.contacts.map(&:name).join(", "), length: truncate_length)
        %td= link_to truncate(conversation.notes, length: truncate_length), conversation
        %td.actions
          = link_to 'Edit', edit_conversation_path(conversation)
          |
          = link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' }
